<img class="header" width="100%" height="700" src="Betina012.jpg">
<h1>BETINA NOWAK SVENDSEN</h1>
<h3>MULTIMEDIEDESIGN STUDERENDE</h3>
<div class="container">

  <p class="text-center"> PORTFOLIO </p>

  <div class="row text-center">

  <div class="col-sm-6">
    <img class="project" width="520" src="Nordlid1.png">
    <img class="project" width="520" src="placeit.png">
    <img class="project" width="520" src="D'Light logo.png">
    <img class="project" width="520" src="Maleri.png">
    <img class="project" width="520" src="BMI.png">
    <img class="project" width="520" src="app.png">
    <img class="project" width="520" src="Number.png">
  </div>

    <div class="col-sm-6">
      <img class="project" width="520" src="painless.png">
      <img class="project" width="520" src="human_white.png">
      <img class="project" width="520" src="Calculator.png">
      <img class="project" width="520" src="Maleri1.jpg">
      <img class="project" width="520" src="woocommerce.png">
      <img class="project" width="520" src="Informationsgrafik.png">
      <img class="project" width="520" src="greek_design.png">

    </div>

  </div>

</div>
